<link href="../static/css/info.css" rel="stylesheet" type="text/css">
{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="jumbotron">
<h1>What is <img class="img-fluid" src="../static/logo7.png" width="100" height="25" alt="Responsive image"> ?</h1>
<p>Upchanges is a social media that connects you stronger with people who you knew about but are not closed with, with people who share the same interest through providing a place where you can create and do meaningful actions <img class="" src="../static/Uplike.png" width="25" height="25"> with them.</p>

    <p>We also provide a database full of problems, projects and ideas in the world for change makers and students to use and build upon on. 　</p>
    <p>Upchanges is completely free and has no advertisements so please support us by clicking the link below and donate!</p>
    <a href="https://docs.google.com/document/d/1gcP-__tRN_i_zHq5yp8PpSTve8LouvgyqyQlfDaAa2Y/edit?usp=sharing" target="_blank">Click here to donate (this is a link)</a>
    <br>
    <small>(The Upchanges team is shown below)</small>
    <div class="text-center">
    <img class="img-fluid" src="../static/new_image.jpeg" width="500" height="250" alt="Responsive image">
    </div>
    <br>
    <h1 class="text-center">--------------</h1>
    <h1 class="text-center">Upchanges Team:</h1>
    <br>


<div class="row">

  <div class="col-md-4">
    <div class="card" style="width: 20rem;">
  <img src="../static/Kien_upchanges.jpg" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="card-title"><strong>Kien Le Trung</strong></h5>
      <h7><strong>Role:</strong> Founder, Website Creator, Main-Full Stack Web Developer</h7>
     <br>
      <br>
      <p class="card-text"><strong>Short Introduction:</strong> Hi everyone, I’m Kien. I came up with the idea to create this website because I appreciated the process of learning to create and do positive change projects in my high school, UWC ISAK Japan. I learnt to identify problems, think of ideas, discuss with friends and create construct projects to solve it. I think this process is very helpful and I want to share it with all people, especially young people, around the world. Through doing this, I hope that more people will be able to create positive change projects and, in a sidenote, create happy memories with their teammates when doing them. </p>
      <p><strong>Contact information:</strong> letrungkien208@gmail.com</p>
  </div>
</div>
  </div>

    <div class="col-md-4">
    <div class="card" style="width: 20rem;">
  <img src="../static/profile_pics/default_profile.jpg" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="card-title"><strong>Yui</strong></h5>
      <h7><strong>Role:</strong> Content Creator</h7>
     <br>
      <br>
      <p class="card-text"><strong>Short Introduction:</strong>...</p>
      <p><strong>Contact information:</strong>...</p>
  </div>
</div>
  </div>

    <div class="col-md-4">
    <div class="card" style="width: 20rem;">
  <img src="../static/profile_pics/default_profile.jpg" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="card-title"><strong>Andrei</strong></h5>
      <h7><strong>Role:</strong> Content Creator</h7>
     <br>
      <br>
      <p class="card-text"><strong>Short Introduction:</strong>...</p>
      <p><strong>Contact information:</strong>...</p>
  </div>
</div>
  </div>

</div>

    <br>

 <div class="row">

  <div class="col-md-4">
    <div class="card" style="width: 20rem;">
  <img src="../static/profile_pics/default_profile.jpg" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="card-title"><strong>Emmanuella</strong></h5>
      <h7><strong>Role:</strong> Content Creator</h7>
     <br>
      <br>
      <p class="card-text"><strong>Short Introduction:</strong>...</p>
      <p><strong>Contact information:</strong>...</p>
  </div>
</div>
  </div>

    <div class="col-md-4">
    <div class="card" style="width: 20rem;">
  <img src="../static/profile_pics/default_profile.jpg" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="card-title"><strong>Ariunsuren</strong></h5>
      <h7><strong>Role:</strong> Content Creator</h7>
     <br>
      <br>
      <p class="card-text"><strong>Short Introduction:</strong>...</p>
      <p><strong>Contact information:</strong>...</p>
  </div>
</div>
  </div>

    <div class="col-md-4">
    <div class="card" style="width: 20rem;">
  <img src="../static/profile_pics/default_profile.jpg" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="card-title"><strong>Tuan Anh Nguyen</strong></h5>
      <h7><strong>Role:</strong> Front-end web developer for version 0.2</h7>
     <br>
      <br>
      <p class="card-text"><strong>Short Introduction:</strong>Hi, I am Ngo Tuan Anh coming from Lai Chau, a mountainous province of Vietnam. Now, I am studying at UWC ISAK Japan and working as a Front-End Developer at Upchanges. Coding is an integral part of my life as it always brings me the joys and a broader view of solving social problems through lines of code. Through this project, I want to contribute my efforts to create a community where people can share, support each other, and make the world to become a better place.</p>
      <p><strong>Contact information:</strong>...</p>
  </div>
</div>
  </div>

</div>

{#<p>----------------------</p>#}
{#<h2>クレジット</h2>#}
{#<h7>Campfire からの応援した人：</h7>#}
{#    <br>#}
{#    <p>高橋様</p>#}
{#    <p>光太郎様</p>#}
{#    <p>A様</p>#}
{#     <p>B様</p>#}
{#     <p>C様</p>#}


</div>
</div>
{% endblock %}